
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: 700;
    font-style: italic;
}


.aboutme {
    padding: 2rem 1.5rem;
    max-width: 900px;
    margin: 2rem auto;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    font-family: 'Montserrat', sans-serif;
  }
  